<section id="casoTerraHotelDisplay">
			<article class="container">
				<div class="row">
					<h3 class="text-center">
						La Situación
					</h3>
					<div class="underline"></div>
				</div>
				<div class="row">
					<p class="text-center text-lato">
						El Valle de elqui en la ciudad de vicuña, Chile es conocido mundialmente por sus impresionables cielos estrellados. En el centro de este valle se encuentra el hotel y Spa Terral, único hotel de 4 estrellas de la zona. Pese a su inmejorable ubicación y oferta de servicios, la presencia online de este hotel estaba muy dejada. Los dueños del hotel, consciente de ello, nos contactaron para que los ayudaremos a crear un sitio que les permitiera transmitir la vibra y onda de Terral además de reservar y pagar las habitaciones online.
					</p>
				</div>
				<div class="row">
					<!-- <img width="auto" height="auto" alt="..." src="includes/img/casos/caso-terral-1.jpg" /> -->
				</div>
				<div class="row">
					<h3 class="text-center">
						Lo que hicimos
					</h3>
					<div class="underline"></div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-offset-2 col-md-2 margin-bottom-20">
						<!-- <img class="img-responsive img-circle" width="100%" height="auto" alt="..." src="includes/img/casoConsultoria.png" /> -->
						<h4 class="width-100 margin-top-10 text-center text-lato">
							Consultor&iacute;a
						</h4>
					</div>
					<div class="col-xs-6 col-md-2 margin-bottom-20">
						<!-- <img class="img-responsive img-circle" width="100%" height="auto" alt="..." src="includes/img/casoRediseno.png" /> -->
						<h4 class="width-100 margin-top-10 text-center text-lato">
							Redise&ntilde;o del sitio Web
						</h4>
					</div>
					<div class="col-xs-6 col-md-2 margin-bottom-20">
						<!-- <img class="img-responsive img-circle" width="100%" height="auto" alt="..." src="includes/img/casoContenidos.png" /> -->
						<h4 class="width-100 margin-top-10 text-center text-lato">
							Estrategia de contenidos digitales
						</h4>
					</div>
					<div class="col-xs-6 col-md-2 margin-bottom-20">
						<!-- <img class="img-responsive img-circle" width="100%" height="auto" alt="..." src="includes/img/casoMetricas.png" /> -->
						<h4 class="width-100 margin-top-10 text-center text-lato">
							M&eacute;tricas
						</h4>
					</div>
				</div>
				<div class="col-sm-offset-1 col-sm-10">
					<p>Partimos por viajar a Vicuña a conocer el hotel y vivir los tours para comprender las distintas necesidades que tendríamos que abordar en el proyecto. </p>
					<p>Durante 4 días vivimos la experiencia Terral completa: Spa, restaurant, barra, tours y habitaciones. ¡Que trabajo más sacrificado! Claro que no todo fue mirar las estrellas y alinearnos los chakras, Durante el viaje entrevistamos a huéspedes y trabajadores del hotel para conocer sus ideas y opiniones y planificamos junto a los directores las funcionalidades y características del proyecto.</p>
					<p>Ya de vuelta a la realidad con la experiencia todavía viva comenzamos a trabajar en la propuesta de sitio. Partimos por  organizar y redactar el contenido de todas las páginas y fichas de tours disponibles antes de diseñar las principales plantillas que utilizaríamos en el proyecto. </p>
					<p>Luego volvimos al hotel a tomar fotos para la web (y a refrescar la experiencia, claro)</p>
					<p>En el intertanto surgió la idea de diseñar un tótem que permitiera a los pasajeros del hotel enterarse de las actividades y tours ofrecidos y poder reservarlos desde ahí mismo.</p>
				</div>



				<!-- <div class="row">
					<h3 class="text-center">
						Dise&ntilde;o UX/UI
					</h3>
					<div class="underline"></div>
				</div> -->
			</article>
		</section>
		<section id="casoSlider">
			<div class="owl-carousel">
				<div id="caso-terral1" class="item">
					<article class="container">sdf
					</article>
				</div>
				<div id="caso-terral2" class="item">
					<article class="container">sdf
					</article>
				</div>
				<div id="caso-terral3" class="item">
					<article class="container">sdf
					</article>
				</div>
				<div id="caso-terral4" class="item">
					<article class="container">sdf
					</article>
				</div>
				<div id="caso-terral5" class="item">
					<article class="container">sdf
					</article>
				</div>
			</div>
		</section>
		

		<section id="casoTerraHotelSlider">
			<article class="container">
				<div class="row">
					<div class="owl-carousel">
						<div class="item">
							<!-- <img width="100%" height="auto" alt="..." src="includes/img/mobileDesign.png" /> -->
						</div>
						<div class="item">
							<!-- <img width="100%" height="auto" alt="..." src="includes/img/mobileDesign.png" /> -->
						</div>
						<div class="item">
							<!-- <img width="100%" height="auto" alt="..." src="includes/img/mobileDesign.png" /> -->
						</div>
					</div>
				</div>
			</article>
		</section>

		<section id="casoTerraHotelScreens">
			<article class="container">
				<div class="row margin-bottom-40">
					<!-- <img width="auto" height="auto" alt="..." src="includes/img/casos/caso-terral-7.jpg" /> -->
				</div>
				<div class="row">
					<!-- <img width="auto" height="auto" alt="..." src="includes/img/casos/caso-terral-8.jpg" /> -->
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<a class="btn smooth text-mavenPro text-uppercase" href="http://www.terralhotel.cl/" target="_blank" rel="nofollow">
							Visitar sitio Web
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</article>
		</section>