
    .case__interface__title
        color #c72527
        &:before
            background-color #c72527

    .case-complex
        .case__items__content__description
            margin-bottom 1rem

        .case__items__content__title
            margin-bottom 1rem
            i
            span
                color #c72527

            i
                opacity 0
                visibility hidden

        .case__items__image
            img
                object-fit cover

        .case__items__row
            margin-bottom 2rem
            &:last-of-type
                margin-bottom 0




    .case__deliverable
        background-color #f3f3f3

    .case__deliverable__container
        padding 3rem 0

    .case__deliverable__step__list__description
        i
            color #c72527
        span
            padding-left 2rem

    .case__deliverable__step
        margin-bottom 4rem
        &:last-of-type
            margin-bottom 0

    .case__deliverable__step__description
        h4
            color #c72527
            margin-bottom 2rem


    .case__deliverable__step__btn
        margin-top 2rem

    .case__deliverable__step__image
        img
            height 100%
            object-fit cover

    .case__deliverable__step__number
        font-size 0
        opacity 0
        visibility hidden


    .case__deliverable__step__row
        padding 0 1.6rem
        margin-bottom 2rem


    .case__deliverable__title
        i
        span
            color #c72527

        i
            font-size 0
            opacity 0
            visibility hidden




    .case__section__title
        color #c72527
        margin-bottom 3rem


    .case__situation
        background-color #9b3835

    .case__situation__content
        color white

    .case__situation__image
        margin 3rem 0
        img
            height 100%
            object-fit cover


    .case__wireframes
        background-color #2d4044

    .case__wireframes__title
        color white
        margin-bottom 3rem


    .case__works__container
        padding-top 0

    .case__works__list-item
        margin-bottom 2rem

    .case__works__list__image
        margin-bottom 2rem
        img
            margin 0 auto

    .case__works__list__title
        font-weight 300
        margin-bottom 0

    .case__works__title
        color #c72527
        &:before
            background-color #c72527


    .sub-header__bg
        position relative
        &:before
            background-color rgba( 0,0,0,.3 )
            bottom 0
            content ""
            left 0
            position absolute
            right 0
            top 0

    @media screen and ( min-width 48em )
        .case-complex
            .case__items__content__title
                margin-bottom 3rem

            .case__items__row
                margin-bottom 9rem
                &:nth-of-type( odd )
                    .case__items__content__title
                        span
                            padding-right 8rem

                &:nth-of-type( even )
                    .case__items__content
                        order 1
                        text-align right
                    .case__items__content__title
                        justify-content flex-end
                        text-align end
                        span
                            padding-left 8rem
                            order 1
                        i
                            opacity 1
                            visibility visible
                            transform rotate( 180deg )





            .case__situation__content
                color white



        .case__deliverable__container
            padding 6rem 0

        .case__deliverable__step__btn
            margin-top 0

        .case__deliverable__step__description
            padding-left 6rem

        .case__deliverable__step__image
            margin 6rem 0 9rem

        .case__deliverable__step__row
            padding 0
            position relative

        .case__deliverable__step__number
            background-color white
            border 2px solid #c72527
            border-radius 50%
            color #c72527
            font-size 18px
            left 0
            line-height 32px
            height 40px
            margin-bottom 0
            opacity 1
            position absolute
            text-align center
            visibility visible
            width 40px


        .case__deliverable__title
            margin-bottom 3rem
            i
                font-size 14px/1
                opacity 1
                visibility visible

            span
                padding-right 8rem


        .case__situation__content
            margin 0 auto
            max-width 960px

        .case__works__list-item
            margin-bottom 0