
	<!-- <header class="header" *ngIf="!isActive('/')"> -->
	<header class="header">
		<figure class="header__bg">
			<img src="./../../assets/images/home/header.jpg" alt="Fondo header" />
		</figure>
		<div class="header__container">
			<nav class="navbar">
				<div class="navbar__container u-container">
					<a class="navbar__link" routerLink="/" rel="nofollow">
						<figure class="navbar__figure center-xs">
							<img width="174" height="143" alt="Logotipo El buen camino" src="./../../assets/images/global/logo2.png" />
						</figure>
					</a>
				</div>
				<div class="navbar__container-sticky">
					<a class="navbar__link" routerLink="/" rel="nofollow">
						<figure class="navbar__figure-sticky">
							<img width="150" height="35" alt="Logotipo El buen camino" src="./../../assets/images/global/logo3.png" />
						</figure>
					</a>
				</div>

				<div class="navbar__toggle smooth navToggle">
					<span class="top smooth"></span>
					<span class="middle smooth"></span>
					<span class="bottom smooth"></span>
				</div>


				<div class="overlay">
					<nav class="overlay__container u-container">
						<ul id="overlay__list u-row">
							<li class="overlay__list-item col-xs-12 col-sm-4">
								<a class="smooth" routerLink="/" routerLinkActive="active" rel="follow">
									<span class="text-mavenPro text-uppercase">
										inicio
									</span>
								</a>
							</li>
							<li class="overlay__list-item col-xs-12 col-sm-4">
								<a class="smooth" routerLink="/about/" routerLinkActive="active" rel="follow">
									<span class="text-mavenPro text-uppercase">
										nosotros
									</span>
								</a>
							</li>
							<li class="overlay__list-item col-xs-12 col-sm-4">
								<a class="smooth" routerLink="/services/" routerLinkActive="active" rel="follow">
									<span class="text-mavenPro text-uppercase">
										nuestros servicios
									</span>
								</a>
							</li>
							<li class="overlay__list-item col-xs-12 col-sm-4">
								<a class="smooth" routerLink="/cases/" routerLinkActive="active" rel="follow">
									<span class="text-mavenPro text-uppercase">
										casos
									</span>
								</a>
							</li>
							<li class="overlay__list-item col-xs-12 col-sm-4">
								<a class="smooth" href="/contact/" rel="follow">
									<span class="text-mavenPro text-uppercase">
										contáctanos
									</span>
								</a>
							</li>
							<li class="overlay__list-item col-xs-12 col-sm-4">
								<a class="smooth gold" href="#" rel="follow">
									<span class="text-mavenPro text-uppercase">
										cuéntanos de tu proyecto
									</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</header>	