
	<nav id="navbar" class="navbar">
		<div class="navbar__container u-container">
			<figure class="navbar__figure center-xs" *ngIf="!isActive('/')">
				<a class="navbar__link" routerLink="/" rel="nofollow">
					<img width="174" height="143" alt="Logotipo El buen camino" src="./../../assets/images/global/logo2.png" />
				</a>
			</figure>
			<figure class="navbar__figure col-xs-6" *ngIf="isActive('/')">
				<a class="navbar__link" routerLink="/" rel="nofollow">
					<img width="174" height="143" alt="Logotipo El buen camino" src="./../../assets/images/global/logo3.png" />
				</a>
			</figure>

			<div id="navToggle" class="navbar__toggle u-row middle-xs smooth">
				<p class="navbar__toggle__content">Cerrar</p>
				<div class="navbar__toggle__menu">
					<span class="top smooth"></span>
					<span class="middle smooth"></span>
					<span class="bottom smooth"></span>
				</div>
			</div>


			<div id="overlay" class="overlay">
				<nav class="overlay__container u-container">
					<ul class="overlay__list u-row">
						<li class="overlay__list-item col-xs-12 col-sm-4">
							<a class="smooth u-row center-xs middle-xs" routerLink="/" routerLinkActive="active" rel="follow">
								<div class="overlay__list-item__content">
									<span>Inicio</span>
								</div>
							</a>
						</li>
						<li class="overlay__list-item col-xs-12 col-sm-4">
							<a class="smooth u-row center-xs middle-xs" routerLink="/about/" routerLinkActive="active" rel="follow">
								<div class="overlay__list-item__content">
									<span>Nosotros</span>
								</div>
							</a>
						</li>
						<li class="overlay__list-item col-xs-12 col-sm-4">
							<a class="smooth u-row center-xs middle-xs" routerLink="/services/" routerLinkActive="active" rel="follow">
								<div class="overlay__list-item__content">
									<span>Nuestros</span>
									<span>Servicios</span>
								</div>
							</a>
						</li>
						<li class="overlay__list-item col-xs-12 col-sm-4">
							<a class="smooth u-row center-xs middle-xs" routerLink="/cases/" routerLinkActive="active" rel="follow">
								<div class="overlay__list-item__content">
									<span>Casos</span>
								</div>
							</a>
						</li>
						<li class="overlay__list-item col-xs-12 col-sm-4">
							<a class="smooth u-row center-xs middle-xs" routerLink="/contact/" rel="follow">
								<div class="overlay__list-item__content">
									<span>Contáctanos</span>
								</div>
							</a>
						</li>
						<li class="overlay__list-item col-xs-12 col-sm-4">
							<a class="smooth u-row center-xs middle-xs" href="https://elbuencamino.typeform.com/to/guUppv" data-mode="1" target="_blank">
								<div class="overlay__list-item__content">
									<span>Cuéntanos de</span>
									<span>tu proyecto</span>
								</div>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="navbar__container-sticky">
			<div class="navbar__container-sticky__container u-container">
				<figure class="navbar__figure-sticky col-xs-6">
					<a class="navbar__link" routerLink="/" rel="nofollow">
						<img width="150" height="35" alt="Logotipo El buen camino" src="./../../assets/images/global/logo3.png" />
					</a>
				</figure>

				<div id="navToggleSticky" class="navbar__toggle u-row middle-xs smooth">
					<p class="navbar__toggle__content">Cerrar</p>
					<div class="navbar__toggle__menu">
						<span class="top smooth"></span>
						<span class="middle smooth"></span>
						<span class="bottom smooth"></span>
					</div>
				</div>
			</div>
		</div>
	</nav>