<section id="cuentanos">
			<article class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<!-- <img width="146" height="120" alt="Logotipo El buen camino" src="includes/img/blanco1-sinfondo.png" /> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-center text-mavenPro">
							Sabemos que cada proyecto es &uacute;nico
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-center text-mavenPro">
							(Y que conversando la gente se entiende)
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-center text-lato">
							Nos encantar&iacute;a escuchar tu proyecto y que juntos veamos la mejor manera para colaborar.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-center text-lato">
							D&eacute;janos tus datos y nos contactaremos contigo lo antes posible.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<a class="btn smooth text-mavenPro text-uppercase" href="#" rel="nofollow">
							Cu&eacute;ntanos de tu proyecto
						</a>
					</div>
				</div>
			</article>
		</section>
		
		<footer>
			<article class="container">
				<div class="row">
					<div class="col-md-4 text-left margin-top-10">
						<a class="smooth" href="https://www.facebook.com/siguiendoelbuencamino" rel="nofollow" target="_blank" data-original-title="Facebook" data-toggle="tooltip" data-placement="top">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</a>
						<a class="smooth" href="https://www.behance.net/ElBuenCamino" rel="nofollow" target="_blank" data-original-title="Behance" data-toggle="tooltip" data-placement="top">
							<i class="fa fa-behance-square" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-md-4 text-mavenPro text-pure text-center margin-top-10">
						Fabricando fit faber Practice makes perfect
					</div>
					<div class="col-md-4 text-right">
						<!-- <img width="40" height="40" alt="Logotipo El buen camino" src="includes/img/blanco4-sinfondo-01.png" /> -->
					</div>
				</div>
			</article>
		</footer>