footer {
    background-color: #C72527;
    bottom: 0;
    clear: both;
    display: block;
    float: left;
    height: auto;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: relative;
    right: 0;
    width: 100%;
    z-index: 15;
}
footer a,
footer a:link,
footer a:visited {
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    padding: 0px 5px;
}
footer a:hover,
footer a:focus,
footer a:active {
    color: #9F1D1F;
}

#cuentanos {
    background-color: #269999;
    // background-image: url("../img/Group-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    display: block;
    float: left;
    height: auto;
    padding: 80px 0;
    position: relative;
    width: 100%;
    z-index: 15;
}
#cuentanos .container .row:nth-child(2) p {
    font-size: 30px;
    margin-top: 30px;
}
#cuentanos .container .row:nth-child(3) p {
    font-size: 20px;
    margin-top: -10px;
}
#cuentanos .container .row:nth-child(4) p {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}
#cuentanos .container .row:nth-child(5) p {
    font-size: 15px;
}
#cuentanos .container .row:nth-child(6) a {
    margin-top: 30px;
}
#cuentanos .btn,
#cuentanos .btn:link,
#cuentanos .btn:visited {
    border: 2px solid #FFFFFF;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    opacity: 1;
    padding: 15px 35px;
    white-space: unset;
    width: 35%;
    word-wrap: break-word;
    line-height: 1.2em;
}
#cuentanos .btn:hover,
#cuentanos .btn:focus,
#cuentanos .btn:active {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.0);
}