		<section id="descripcion">
			<article class="container">
				<div class="row">
					<div class="text-center">
						<!-- <img width="100" height="96" alt="..." src="includes/img/noun_353954_cc copy.png" /> -->
					</div>
					<h3 class="text-center">
						Queremos ayudarte a cumplir tus objetivos
					</h3>
					<div class="underline"></div>
				</div>
				<div class="row">
					<p class="text-center text-lato">
						Somos un grupo de profesionales repartidos por Chile y el mundo, con la fuerte convicci&oacute;n de ayudar a nuestros clientes a cumplir los objetivos propuestos para sus canales Online.
					</p>
					<p class="text-center text-lato">
						Nuestro foco es entender a los usuarios y dise&ntilde;ar para ellos.
					</p>
				</div>
			</article>
		</section>

		<section id="caminantes">
			<article class="container">
				<div class="row">
					<h3 class="text-center text-capitalize">
						los caminantes
					</h3>
					<div class="underline"></div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-6 padding-0">
						<div class="member">
							<div class="memberPic"></div>
							<div class="memberInfo">
								<div class="memberTitle">
									<span class="text-capitalize text-mavenPro text-pure">
										claudio merino
									</span>
									<span class="text-capitalize text-lato text-pure">
										dise&ntilde;ador ux
									</span>
								</div>
								<div class="memberSocial">
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="Twitter" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="LinkedIn" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12 col-md-6 padding-0">
						<div class="member">
							<div class="memberPic"></div>
							<div class="memberInfo">
								<div class="memberTitle">
									<span class="text-capitalize text-mavenPro text-pure">
										Martín Merino
									</span>
									<span class="text-capitalize text-lato text-pure">
										dise&ntilde;ador Gráfico
									</span>
								</div>
								<div class="memberSocial">
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="Twitter" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="LinkedIn" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-6 padding-0">
						<div class="member">
							<div class="memberInfo">
								<div class="memberTitle">
									<span class="text-capitalize text-mavenPro text-pure">
										randy baz&aacute;n
									</span>
									<span class="text-capitalize text-lato text-pure">
										dise&ntilde;ador web
									</span>
								</div>
								<div class="memberSocial">
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="Twitter" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="LinkedIn" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="memberPic"></div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12 col-md-6 padding-0">
						<div class="member">
							<div class="memberInfo">
								<div class="memberTitle">
									<span class="text-capitalize text-mavenPro text-pure">
										Juan Jo Vargas
									</span>
									<span class="text-capitalize text-lato text-pure">
										contenidos digitales
									</span>
								</div>
								<div class="memberSocial">
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="Twitter" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="LinkedIn" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="memberPic"></div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-xs-12 col-md-6 padding-0">
						<div class="member">
							<div class="memberPic"></div>
							<div class="memberInfo">
								<div class="memberTitle">
									<span class="text-capitalize text-mavenPro text-pure">
										Maria Egea
									</span>
									<span class="text-capitalize text-lato text-pure">
										Productora Audiovisual
									</span>
								</div>
								<div class="memberSocial">
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="Twitter" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-twitter-square" aria-hidden="true"></i>
									</a>
									<a class="smooth" href="#" rel="nofollow" target="_blank" data-original-title="LinkedIn" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12 col-md-6 padding-0">
						<div class="member">
							<div class="memberInfo">
								<div class="memberTitle">
									<span class="text-mavenPro text-pure">
										We want you!
									</span>
									<span class="text-lato text-pure">
										Trabaja con nosotros
									</span>
								</div>
								<div class="memberSocial">
									<a class="smooth" href="contactanos.html" rel="nofollow" data-original-title="Contáctanos" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="memberPic"></div>
						</div>
					</div>
				</div>
			</article>
		</section>