
    .intro__title
    .members__title
        color #c72527
        &:before
            background-color #c72527


    .members__item__pic
        padding 0
        img
            min-height 240px
            object-fit cover
            width 544px

    .intro
        background-color #ececec

    .intro__image
        margin-bottom 1rem
        img
            max-width 100px



    .members__item
        padding 0
        text-align left
        &:first-of-type
            .members__item__description
                background-color #C72527
                &:before
                    border-right-color #C72527
        &:nth-of-type(2)
            .members__item__description
                background-color #9F1D1F
                &:before
                    border-right-color #9F1D1F
        &:nth-of-type(3)
            .members__item__description
                background-color #E69B98
                &:before
                    border-left-color #E69B98
        &:nth-of-type(4)
            .members__item__description
                background-color #C83422
                &:before
                    border-left-color #C83422
        &:nth-of-type(5)
            .members__item__description
                background-color #9F1D1F
                &:before
                    border-right-color #9F1D1F
        &:nth-of-type(6)
            .members__item__description
                background-color #E69B98
                &:before
                    border-right-color #E69B98
        &:nth-of-type(7)
            .members__item__description
                background-color #C72527
                &:before
                    border-left-color #C72527
        &:last-of-type
            .members__item__description
                background-color #AE914B
                border 1px solid white
                padding 1rem
                &:before
                    border-left-color #AE914B

                .members__item__social
                    bottom 1rem
                    padding 0 1rem

                .members__item__content
                    border 2px solid white
                    height 100%
                    padding 1rem
                    position relative


                .members__name
                    padding 0

    .members__item__pic
        &-right
            order 1

    .members__item__description
        color white
        padding 0 2rem
        position relative
        &:before
            content ""
            margin-top -10px
            position absolute
            top 50%
        &-left
            &:before
                border-bottom 20px solid transparent
                border-right 20px solid
                border-top 20px solid transparent
                left -20px
        &-right
            &:before
                border-bottom 20px solid transparent
                border-left 20px solid
                border-top 20px solid transparent
                right -20px

        a
            color white
            &:first-of-type
                margin-right .5rem
            &:nth-of-type( 2 )
                margin-left .25rem
                margin-right .25rem
            &:last-of-type
                margin-left .5rem

        i
            font-size 30px

    .members__item__social
        bottom 2rem
        left 0
        padding 0 2rem
        position absolute
        right 0

    .members__name
        padding-top 2rem




    .methodology__container
        padding-top 0

    .methodology__col
        &:first-of-type
            padding 0
        &:last-of-type
            padding-bottom 2rem
            padding-left 3rem
            padding-right 0

    .methodology__col__image
        height 100%
        position relative
        span
            background-color white
            border 3px solid #2d4040
            border-radius 50%
            height 70px
            padding 10px
            position relative
            text-align center
            width 70px
        &:before
            background-color #2d4040
            bottom 0
            content ""
            height 100%
            left 35px
            position absolute
            top 0
            width 3px

    .methodology__col__description
        color #6e6e6e

    .methodology__col__title
        color #ac5e64
        padding-top 20px


    .methodology__title
        color #c72527


    @media screen and ( min-width 48em )

        .members__item__pic
            img
                width auto


        .methodology__col
            &:first-of-type
                padding 0 15px

        .methodology__col__image
            &:before
                left auto

        .methodology__row
            &:nth-of-type( odd )
                .methodology__col
                    &:first-of-type
                        text-align right
                        .methodology__col__image
                            span
                                margin 0 0 0 auto
                                right -50px
                            &:before
                                right -16.5px

                    &:last-of-type
                        padding-left 4rem


            &:nth-of-type( even )
                .methodology__col
                    text-align right
                    &:first-of-type
                        order 1
                        .methodology__col__image
                            span
                                left -50px
                            &:before
                                left -16.5px

                    &:last-of-type
                        padding-right 4rem