
    .contact__info__col
        &:first-of-type
            margin-bottom 2rem


    .contact__info__col__btn
        background-color white
        color #c72527
        display block
        padding 16px
        &:first-of-type
            margin-bottom 5px

    .contact__info__icon
        margin-bottom 1rem
        i
            font-size 60px

    .footer__btn
        display block
        margin-bottom 1rem
        padding 14px 16px

    .footer__title
        margin-bottom 2rem

    .sub-header__container
        padding 0 1.6rem

    @media screen and ( min-width 48em )
        .contact__info
            margin-top 7rem

        .contact__info__col
            &:first-of-type
                margin-bottom 0

        .footer__btn
            margin-bottom 0

        .footer__container
            padding 9rem 0

        .footer__title
            margin-bottom 4rem

        .sub-header__container
            padding 0

        .sub-header__bg
            img
                height 500px
                width 100%