<header id="contactanos">
			<div id="headerCover"></div>
			<div id="headerColor"></div>
			<article class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-pure text-mavenPro">
							Nos gusta conversar
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<p class="text-pure text-lato">
							Y nos encantaría saber de tí y las ideas que tienes en mente
						</p>
						<div class="underline"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 text-center text-pure">
						<div class="pinpoint">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="text-lato">
							Avenida Italia 702, Providencia
						</div>
						<div class="text-lato">
							Santiago de Chile
						</div>
					</div>
					<div class="col-md-6 text-center">
						<a class="btn smooth text-mavenPro text-uppercase" href="mailto:hola@elbuencamino.com?Subject=Hola%20El%20Buen%20Camino" rel="nofollow">
							<span class="hidden-xs">Email: </span>hola@elbuencamino.com
						</a>
						<a class="btn smooth text-mavenPro text-uppercase" href="callto://56223019166" rel="nofollow">
							Teléfono: +56 22301 9166
						</a>
					</div>
				</div>
			</article>
		</header>

		<section id="cuentanosContacto">
			<article class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-center text-mavenPro">
							O quizás quieras...
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<a class="btn smooth text-mavenPro text-uppercase" href="tel:+56223019166" rel="nofollow">
							dejar tu contacto
						</a>
					</div>
					<div class="col-md-4">
						<a class="btn smooth text-mavenPro text-uppercase" href="tel:+56223019166" rel="nofollow">
							contarnos tu proyecto
						</a>
					</div>
					<div class="col-md-4">
						<a class="btn smooth text-mavenPro text-uppercase" href="tel:+56223019166" rel="nofollow">
							ser un caminante
						</a>
					</div>
				</div>
			</article>
		</section>