
	<header class="sub-header">
		<figure class="sub-header__bg">
			<img src="./../../assets/images/contact/bg.png" alt="Fondo">
		</figure>
		<div class="sub-header__container u-container center-xs">
			<h3 class="sub-header__title">Nos gusta conversar</h3>
			<p class="sub-header__description border-title">Y nos encantaría saber de ti y las ideas que tienes en mente</p>
			<div class="contact__info u-row middle-xs">
				<div class="contact__info__col col-xs-12 col-sm-6">
					<figure class="contact__info__icon">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</figure>
					<p class="contact__info__caption">Avenida Italia 702, Providencia Santiago de chile</p>
				</div>
				<div class="contact__info__col col-xs-12 col-sm-6">
					<a class="contact__info__col__btn" href="mailto:hola@elbuencamino.com?Subject=Hola%20El%20Buen%20Camino" rel="nofollow"> Email: hola@elbuencamino.com </a>
					<a class="contact__info__col__btn" href="callto://56223019166" rel="nofollow">Teléfono: +56 22301 9166</a>
				</div>
			</div>
		</div>
	</header>



	<footer class="footer">
		<section class="footer__container u-container center-xs">
			<h3 class="footer__title">O quizás quieras...</h3>
			<div class="footer__row u-row">
				<div class="footer__col col-xs-12 col-sm-4">
					<a href="tel:+56223019166" class="footer__btn btn btn-lg btn-white" rel="nofollow">Dejar tu contacto</a>
				</div>
				<div class="footer__col col-xs-12 col-sm-4">
					<a href="tel:+56223019166" class="footer__btn btn btn-lg btn-white" rel="nofollow">Contarnos tu proyecto</a>
				</div>
				<div class="footer__col col-xs-12 col-sm-4">
					<a href="tel:+56223019166" class="footer__btn btn btn-lg btn-white" rel="nofollow">Ser un caminante</a>
				</div>
			</div>
		</section>
	</footer>