	
	h1,
	h2,
	h3,
	h4
		line-height 1.2
		margin-bottom .5em
		
	p 
		font-family "Lato", sans-serif
		line-height 1.2

	.text-openSans
		font-family "Open Sans", sans-serif

	.text-mavenPro
		font-family "Maven Pro", sans-serif

	.text-vollkorn
		font-family "Vollkorn", sans-serif

	.text-lato
		font-family "Lato", sans-serif
