
	.footer__copyright
		background-color #c82528

	.footer__copyright__container
		padding 1rem 1.6rem


	// Footer
	.footer
		background-image url( './assets/images/global/footer-bg.jpg' )
		background-size cover
		color white

	.footer__description
		&:last-of-type
			margin-bottom 3rem

	.footer__sub-title
		margin-bottom 3rem

	.footer__title
		margin-bottom 0

	// End Footer

	@media screen and ( min-width 48em )
		.footer__copyright__container
			padding 1rem 0