	
	body
		&.overlay-open
			overflow hidden

	.overlay__list-item a:hover,
	.overlay__list-item a:focus,
	.overlay__list-item a:active
		background-color rgba( 199, 37, 39, .5 )
		.overlay__list-item__content
			&:before
				background-color white
				bottom 0
				content ""
				height 3px
				left 0
				margin 0 auto
				position absolute
				right 0
				width 60px
		
	.overlay__container,
	.overlay__list
		height 100%
		width 100%
		

	.overlay
		background-color rgba( 45, 64, 68, .9 )
		bottom 0
		height 0
		left 0
		opacity 0
		overflow hidden
		position fixed
		right 0
		top 0
		visibility hidden
		width 100%
		&.open 
			height 100%
			opacity 1
			overflow-y scroll
			visibility visible
			z-index 101
			
	.overlay__container
		min-height 500px
		padding 56px 0 3rem
		position relative

	.overlay__list-item
		border-bottom 1px solid white
		border-top 1px solid white
		font-weight 600
		margin 0
		padding 0
		text-align center
		&:first-of-type
			border-top 0
		&:last-of-type
			a
				background-color rgba( 174, 145, 75, 1 )
		a
			background-color transparent
			height 100%
			text-decoration none
			width 100%
	
		span
			color white
			display block
			font-family 'Maven Pro', sans-serif
			font-size 32px
			line-height 1.2
			text-transform uppercase
			width 100%
			
	.overlay__list-item__content
		padding-bottom 1rem
		position relative
		
	@media screen and ( min-width 48em )
		.overlay
			&.open
				overflow-y hidden
				

		.overlay__container
			padding 8rem 0 3rem

		.overlay__list-item
			border 2px solid white
			height 50%
			&:first-of-type
				border-top 2px solid white