@font-face {
  font-family: 'icon';
  src:  url('./assets/icons/icon.eot?8kq627');
  src:  url('./assets/icons/icon.eot?8kq627#iefix') format('embedded-opentype'),
    url('./assets/icons/icon.woff2?8kq627') format('woff2'),
    url('./assets/icons/icon.ttf?8kq627') format('truetype'),
    url('./assets/icons/icon.woff?8kq627') format('woff'),
    url('./assets/icons/icon.svg?8kq627#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-us:before {
  content: "\e90d";
}
.icon-build:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-consulting:before {
  content: "\e902";
}
.icon-design:before {
  content: "\e903";
}
.icon-devices:before {
  content: "\e904";
}
.icon-ear:before {
  content: "\e905";
}
.icon-launch:before {
  content: "\e906";
}
.icon-metrics:before {
  content: "\e907";
}
.icon-micro:before {
  content: "\e908";
}
.icon-pencil:before {
  content: "\e909";
}
.icon-planificar:before {
  content: "\e90a";
}
.icon-stadistics:before {
  content: "\e90b";
}
.icon-together:before {
  content: "\e90c";
}