
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	html,
	body,
	div,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	ol,
	ul,
	li,
	form,
	legend,
	label,
	table,
	header,
	footer,
	nav,
	section,
	figure {
		margin: 0;
		padding: 0;
	}

	header,
	footer,
	nav,
	section,
	article,
	hgroup,
	figure, {
		display: block;
	}

	input[type="text"],
	input[type="search"],
	input[type="url"],
	input[type="number"],
	textarea {
		-webkit-appearance: none;
	}

	img,
	video,
	object {
		height: auto;
		max-width: 100%;
		vertical-align: top;
	}

	ul,
	ol {
		list-style: none;
	}

	button,
	input[type="checkbox"] {
		outline: none;
	}

	html {
		font-size: initial;
	}

	body {
		background-color: initial;
		color: initial;
		font-size: initial;
		line-height: initial;
	}

	a {
		transition: all .2s cubic-bezier( .4,0,.2,1 );
		text-decoration: none;
	}

	a:hover,
	a:focus,
	a:active {
		text-decoration: none;
	}