<app-header></app-header>
<router-outlet></router-outlet>

<section class="footer__copyright">
	<div class="footer__copyright__container u-container">
		<div class="footer__copyright__row u-row middle-xs">
			<div class="footer__copyright__social col-xs-12 col-sm-4">
				<a class="smooth" href="https://www.facebook.com/siguiendoelbuencamino" rel="nofollow" target="_blank" data-original-title="Facebook" data-toggle="tooltip" data-placement="top">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				</a>
				<a class="smooth" href="https://www.behance.net/ElBuenCamino" rel="nofollow" target="_blank" data-original-title="Behance" data-toggle="tooltip" data-placement="top">
					<i class="fa fa-behance-square" aria-hidden="true"></i>
				</a>
			</div>
			<div class="footer__copyright__content col-xs-12 col-sm-4 center-xs">
				<p>Fabricando fit faber</p>
			</div>
			<div class="footer__copyright__logo col-xs-12 col-sm-4 end-xs">
				<img src="./../assets/images/global/logo-sm.png" alt="Logotipo El buen Camino">
			</div>
		</div>
	</div>
</section>