
    .cases__intro__title
        color #565656
        margin-bottom 0

    .cases__list
        margin-bottom 2rem

    .cases__list__description
        color white
        margin-top 1rem

    .cases__list__image
        position relative

    .cases__list__logo
        background rgba( 0,0,0,.5 )
        padding 2rem 1.6rem
        width 100%

    @media screen and ( min-width 48em )

        .cases__list__content
            height 100%
            left 0
            position absolute
            right 0
            top 0

        .cases__list__logo
            padding 2rem 0