
	<section id="casosText" style="margin-top: 200px">
		<article class="container">
			<div class="row visible-xs">
				<h3 class="text-center">
					Nuestra metodología
				</h3>
				<div class="underline"></div>
			</div>
			<div class="row">
				<p class="text-center text-lato">
					Pensamos y creamos pantallas sencillas de utilizar.
					<br/>
					Nuestro foco es entender a tu usuario y diseñar para el.
				</p>
			</div>
		</article>
	</section>


	<section id="casosDisplay">
		<article class="container">

			<div class="row">
				<a class="padding-0 smooth casoView bg-terral" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-terral.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-charco" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-charco.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-metlife" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-metlife.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-embarazo" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-espera.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Diseño de App de Salud
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-metlife-totem" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-metlife.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-hoyts" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-hoyts.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-santander-rio" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-santander.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a class="padding-0 smooth casoView bg-colegioSantaMaria" href="caso_terral.html" rel="nofollow">
					<div class="casoInfo">
						<div class="casoLogo">
							<!-- <img alt="..." src="includes/img/casos/logo-caso-colegios.png" style="margin-left: -42px" /> -->
						</div>
						<div class="casoDescription">
							<p class="text-center text-lato text-pure margin-0">
								Rediseño de presencia online
							</p>
							<span class="underline">

							</span>
						</div>
					</div>
				</a>
			</div>



			
		</article>
	</section>