
	<header class="cases__header center-xs">
		<div class="cases__header__container">
			<figure class="cases__header__bg">
				<!-- <img src="{{cases.bg}}" /> -->
			</figure>
			<h2 class="cases__header__title">Casos</h2>
			<p class="cases__header__description">Diseñamos experiencias que convierten</p>
		</div>
	</header>

	<section class="cases__intro">
		<div class="cases__intro__container u-container">
			<h4 class="cases__intro__title">Pensamos y creamos pantallas sencillas de utilizar.</h4>
			<h4 class="cases__intro__title">Nuestro foco es entender a tu usuario y diseñar para él.</h4>
		</div>
	</section>

	<section class="cases__list" *ngIf="cases">
		<div class="cases__list__container">
			<section class="cases__list center-xs" *ngFor="let case of cases">
				<a routerLink="/cases/{{case.slug}}">
					<figure class="cases__list__image">
						<img src="./../../assets/images/cases/cabecera-caso-charco.jpg">
						<div class="cases__list__content">
							<figure class="cases__list__logo">
								<h2>{{case.name}}</h2>
								<!-- <img src="{{case.logo}}"> -->
							</figure>
							<p class="cases__list__description">{{case.work}}</p>
						</div>
					</figure>
				</a>
			</section>			
		</div>
	</section>