
    .sidebar
        &.sticky
            bottom 0
            position fixed
            right 0
            top 0
            z-index 1
            .sidebar__container
                height 100%
                padding 0

            .sidebar__content
                height 100%

            .sidebar__description
                display none

            .sidebar__image
                align-items center
                border 2px solid white
                border-radius 50%
                display flex
                height 50px
                justify-content center
                vertical-align middle
                width 50px
                img
                    max-height 25px
                    max-width 25px

            .sidebar__list
                flex-direction column
                height 100%
                justify-content center
                padding 67px 1.6rem 0 0

            .sidebar__list-item
                position relative
                max-height 80px
                max-width 50px
                &.active
                    &:before
                        background-color #a3946d
                    .sidebar__image
                        border 2px solid #a3946d

                &:before
                    background-color white
                    bottom 0
                    content ""
                    position absolute
                    right 25px
                    top 50px
                    width 2px
                &:last-of-type
                    &:before
                        background-color transparent


    .sidebar__container
        padding 0 1.6rem

    .sidebar__image
        margin-bottom 1rem
        img
            max-height 50px
            max-width 50px

    .services__intro__title
        font-weight 500
        margin-bottom 0

    .services__list
        min-height 500px
        height 100vh
        &:first-of-type
            .services__list__content
                background-color #2d4044

        &:nth-of-type( 2 )
            .services__list__content
                background-color #ae914b

        &:nth-of-type( 3 )
            .services__list__content
                background-color #a3413e

        &:nth-of-type( 4 )
            .services__list__content
                background-color #ade1df

        &:nth-of-type( 5 )
            .services__list__content
                background-color #244a79

        &:nth-of-type( even )
            .services__list__image
                order 1

    .sidebar__list-item
        padding-bottom 2rem

    .sidebar__list__link
        color #585858


    @media screen and ( min-width 48em )
        .sidebar__container
            padding 0 0 6rem