
    .services__list__features
    .services__list__works
        padding 1rem 0 3rem

    .services__list__features-item
    .services__list__works-item
        margin-bottom 1rem
        text-align left
        i
            padding-right .5rem
        a
            border-bottom 1px solid white
            color white
            padding-bottom 4px

    .sidebar
        &.sticky
            bottom 0
            position fixed
            right 0
            top 0
            z-index 1
            .sidebar__container
                height 100%
                padding 0

            .sidebar__content
                height 100%

            .sidebar__description
                display none

            .sidebar__image
                align-items center
                border 2px solid white
                border-radius 50%
                display flex
                height 50px
                justify-content center
                vertical-align middle
                width 50px
                img
                    max-height 25px
                    max-width 25px

            .sidebar__list
                flex-direction column
                height 100%
                justify-content center
                padding 67px 1.6rem 0 0

            .sidebar__list-item
                position relative
                max-height 80px
                max-width 50px
                &.active
                    &:before
                        background-color #a3946d
                    .sidebar__image
                        border 2px solid #a3946d

                &:before
                    background-color white
                    bottom 0
                    content ""
                    position absolute
                    right 25px
                    top 50px
                    width 2px
                &:last-of-type
                    &:before
                        background-color transparent


    .sidebar__container
        padding 0 1.6rem

    .sidebar__image
        margin-bottom 1rem
        img
            max-height 50px
            max-width 50px

    .services__intro__title
        font-weight 500
        margin-bottom 0

    .services__list
        .services__list__content
            color white
        &:first-of-type
            background-color #2d4044

        &:nth-of-type( 2 )
            background-color #ae914b

        &:nth-of-type( 3 )
            background-color #a3413e

        &:nth-of-type( 4 )
            background-color #ade1df
            .services__list__content
                color #50585b
                a
                    color #50585b

            .services__list__features-item
            .services__list__works-item
                a
                    border-bottom 1px solid #50585b


        &:nth-of-type( 5 )
            background-color #244a79

        &:nth-of-type( even )
            .services__list__image
                order 1

    .services__list__content
        padding 3rem 1.6rem

    .services__list__icon
        margin-bottom 1rem
        img
            max-width 50px

    .services__list-item
        padding-right 1rem

    .services__list__link
        padding-left 2rem
        position relative
        transition all .2s cubic-bezier( .4,0,.2,1 )
        &:before
            -moz-osx-font-smoothing grayscale
            -webkit-font-smoothing antialiased
            bottom 0
            content "\f061"
            display inline-block
            font-size inherit
            font normal normal normal 14px/1 FontAwesome
            left 0
            position absolute
            text-rendering auto
            top 10px

        &:hover
            padding-left 3rem
        span
            line-height 1.8

    .services__list__intro
        padding 1rem 0 3rem

    .sidebar__list-item
        padding-bottom 2rem

    .sidebar__list__link
        color #585858

    .services__list__works-item
        width 100%


    @media screen and ( min-width 48em )
        .sidebar__container
            padding 0

        .services
            padding-top 96px
            &.sticky
                padding-top 241px

        .services__list
            &:nth-of-type( even )
                .services__list__content__main
                    margin 0 0 0 auto
                .services__list__image
                    img
                        -webkit-clip-path polygon(5% 53%, 1% 50%, 5% 47%, 5% 0, 100% 0, 100% 100%, 5% 100%)
                        clip-path polygon(5% 53%, 1% 50%, 5% 47%, 5% 0, 100% 0, 100% 100%, 5% 100%)

            &:nth-of-type( odd )
                .services__list__image
                    img
                        -webkit-clip-path polygon(0% 0%, 95% 0, 95% 47%, 99% 50%, 95% 53%, 95% 100%, 0 100%)
                        clip-path polygon(0% 0%, 95% 0, 95% 47%, 99% 50%, 95% 53%, 95% 100%, 0 100%)

        .services__list__content
            &:nth-of-type( even )
                padding-right 4rem
            &:nth-of-type( odd )
                padding-left 4rem


        .services__list__content__main
            max-width 700px

        .services__list__image
            padding 0

        .services__list__works-item
            width auto