
	<header class="sub-header">
		<figure class="sub-header__bg">
			<img src="./../../assets/images/services/bg.png" alt="Fondo">
		</figure>
		<div class="sub-header__container center-xs">
			<h3 class="sub-header__title">Nuestros servicios</h3>
			<p class="sub-header__description">Diseñamos experiencias que convierten</p>
		</div>
	</header>

	<section class="services__intro">
		<div class="services__intro__heading center-xs u-container-2">
			<h4 class="services__intro__title">Pensamos y creamos pantallas sencillas de utilizar.</h4>
			<h4 class="services__intro__title">Nuestro foco es entender a tu usuario y diseñar para él.</h4>
		</div>
	</section>

	<section class="sidebar hide-xs show-sm">
		<div class="sidebar__container u-container-3">
			<aside class="sidebar__content">
				<ul class="sidebar__list nav u-row center-xs middle-xs between-xs">
					<li class="sidebar__list-item" *ngFor="let menu of menus">
						<a class="sidebar__list__link center-xs" href="#{{menu.link}}">
							<a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="500" class="sidebar__list__link nav-link center-xs" href="#{{menu.link}}">
								<figure class="sidebar__image">
									<span class="{{menu.icon_class}}"></span>
								</figure>
							</a>
						</a>
						<p class="sidebar__description">{{menu.service}}</p>
						<p class="sidebar__description" *ngIf="menu.service_br">{{menu.service_br}}</p>
					</li>
				</ul>
			</aside>
		</div>
	</section>


	<section class="services">
		<div class="services__container">
			<section id="{{service.id}}" class="services__list u-row" *ngFor="let service of services">
				<figure class="services__list__image col-sm-4 hide-xs show-sm">
					<img src="{{service.image}}" alt="{{service.image_alt}}" />
				</figure>
				<div class="services__list__content col-xs-12 col-sm-8 center-xs start-sm">
					<div class="services__list__content__main">
						<figure class="services__list__icon hide-sm">
							<img src="{{service.icon}}" alt="{{service.icon_alt}}" />
						</figure>
						<h3 class="services__list__title">{{service.title}}</h3>
						<p class="services__list__intro">{{service.intro}}</p>
						<h4 class="services__list__sub-title">{{service.features_title}}</h4>
						<ul class="services__list__features">
							<li class="services__list-item services__list__features-item" *ngFor="let feature of service.features">
								<div class="services__list__link">
									<span>{{feature.description}}</span>
								</div>
							</li>
						</ul>
						<h4 class="services__list__sub-title">{{service.works_title}}</h4>
						<ul class="services__list__works u-row">
							<li class="services__list-item col-xs-12 col-sm-6 services__list__works-item" *ngFor="let work of service.works">
								<div class="services__list__link">
									<a routerLink="./../{{work.link}}">
										<span>{{work.description}}</span>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</section>



	<footer class="footer">
		<section class="footer__container u-container center-xs">
			<figure class="footer__logo">
				<img width="174" height="143" alt="Logotipo El buen camino" src="./../../assets/images/global/logo2.png" />
			</figure>
			<h3 class="footer__title">Sabemos que cada proyecto es único</h3>
			<h4 class="footer__sub-title">(Y que conversando la gente se entiende)</h4>
			<p class="footer__description">Nos encantaría escuchar tu proyecto y que juntos veámos la mejor manera para colaborar</p>
			<p class="footer__description">Déjanos tus datos y nos contáctaremos contigo lo antes posible.</p>
			<a class="around__btn btn btn-lg btn-white" routerLink="/contact">Cuéntanos de tu proyecto</a>
		</section>
	</footer>