	<section id="serviciosText">
		<article class="container">
			<div class="row">
				<p class="text-center text-lato">
					Pensamos y creamos pantallas sencillas de utilizar.
					<br/>
					Nuestro foco es entender a tu usuario y dise&ntilde;ar para el.
				</p>
			</div>
		</article>
	</section>
	
	<section id="consultoria">
		<div class="servicioImg"></div>
		<div class="servicioInfo">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-pure text-mavenPro text-capitalize">
							consultor&iacute;a
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-lato">
							Analizamos tu negocio y las necesidades de tus usuarios, aportando nuevas ideas y soluciones para enfocar tus esfuerzos digitales mejorando as&iacute; tus resultados de negocio.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							¿Qu&eacute; podr&iacute;amos hacer juntos?
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
								<!--<a class="smooth" href="#" rel="nofollow">-->
									<i class="fa smooth" aria-hidden="true"></i>
									Consultor&iacute;a en Experiencia de Usuario (Ux).
								<!--</a>-->
							</li>
							<li>
								
									<i class="fa smooth" aria-hidden="true"></i>
									Benchmark de competidores.
								
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							Esto hemos hecho en consultor&iacute;a
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Dise&ntilde;o flujo contrataci&oacute;n Seguros Metlife
								</a>
							</li>
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Investigaci&oacute;n con usuarios Rail Europe
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="diseno">
		<div class="servicioInfo">
			<div class="container-fluid">
				<div class="row"> 
					<div class="col-md-12">
						<h2 class="text-pure text-mavenPro text-capitalize">
							<!-- dise&ntilde;o -->
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-lato">
							<!-- El dise&ntilde;o es la pieza clave en la presencia digital. Es lo que diferencia. Ponemos un cari&ntilde;o especial para conseguir dise&ntilde;os atractivos, memorables y orientados al negocio. Dise&ntilde;os pensados desde el m&oacute;vil y la Web, dise&ntlde;os nativos al medio. -->
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							<!-- ¿Qu&eacute; podr&iacute;amos hacer juntos? -->
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
									<i class="fa smooth" aria-hidden="true"></i>
									Diseñar tu sitio Web.
							</li>
							<li>
									<i class="fa smooth" aria-hidden="true"></i>
									Diseño de landings de campañas.
							</li>
							<li>
									<i class="fa smooth" aria-hidden="true"></i>
									Diseño de tu aplicación móvil.
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							Esto hemos hecho en Diseño
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Diseño flujo compra en línea Cine Hoyts
								</a>
							</li>
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Diseño de Hotel Terral
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="servicioImg"></div>
	</section>
	
	<section id="usabilidad">
		<div class="servicioImg"></div>
		<div class="servicioInfo">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-pure text-mavenPro text-capitalize">
							usabilidad
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-lato">
							Evaluamos interfaces interactivas y estudiamos el comportamiento de las personas para tomar decisiones de diseño. La usabilidad de un sitio web, intranet o sistema, es la medida que eval&uacute;a la facilidad de ser usado, aprendido y comprendido por el usuario.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							¿Qu&eacute; podr&iacute;amos hacer juntos?
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
									<i class="fa smooth" aria-hidden="true"></i>
									An&aacute;lisis de usabilidad.
							</li>
							<li>
									<i class="fa smooth" aria-hidden="true"></i>
									Test de usuarios.
							</li>
							<li>
									<i class="fa smooth" aria-hidden="true"></i>
									Focus Groups.
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							Esto hemos hecho en Usabilidad
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Inv. con usuarios Rail Europe
								</a>
							</li>
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Test de usuarios Tótem MetLife
								</a>
							</li>
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Test de usuarios LexDir
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="contenidosDigitales">
		<div class="servicioInfo">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-grey text-mavenPro text-capitalize">
							contenidos digitales
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-grey text-lato">
							En internet hay que contar historias relevantes e interesantes. Tenemos especialistas en redacci&oacute;n y creaci&oacute;n de estrategias de contenido, guionistas, realizadores de v&iacute;deo y dinamizadores en redes sociales, para conseguir que lo que contamos sea visto, o&iacute;do y le&iacute;do.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-grey text-mavenPro">
							¿Qu&eacute; podr&iacute;amos hacer juntos?
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-grey text-lato">
							<li>
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Crear landing pages para tus campañas.
							</li>
							<li>
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Llevar las redes sociales de tu empresa.
							</li>
							<li>
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Creaci&oacute;n de textos, v&iacute;deos y fotograf&iacute;as para tu Web.
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-grey text-mavenPro">
							Esto hemos hecho en Contenidos Digitales
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-grey text-lato">
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Hotel Terral. Contenidos Web.
								</a>
							</li>
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Patagonia. Landing pages Ecommerce
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="servicioImg"></div>
	</section>
	
	<section id="metricas">
		<div class="servicioImg"></div>
		<div class="servicioInfo">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-pure text-mavenPro text-capitalize">
							m&eacute;tricas
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="text-pure text-lato">
							Te asesoramos en medici&oacute;n online y t&eacute;cnicas de Web mining para que extraigas lo m&aacute;ximo de tu Web. En El Buen Camino podemos ayudarte a entender a tus visitas y a mejorar tus contenidos para que mejores tus objetivos de conversi&oacute;n.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							¿Qu&eacute; podr&iacute;amos hacer juntos?
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Analizar las m&eacute;tricas de tu sitio.
							</li>
							<li>
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Optimizar tus pantallas para mejorar los resultados.
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-pure text-mavenPro">
							Esto hemos hecho en M&eacute;tricas
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="text-pure text-lato">
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Cine Hoyts. Redise&ntilde;o Site
								</a>
							</li>
							<li>
								<a class="smooth" href="#" rel="nofollow">
									<i class="fa fa-arrow-right smooth" aria-hidden="true"></i>
									Cine Hoyts. Redise&ntilde;o Site
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="serviciosMetodologia">
		<article class="container">
			<div class="row">
				<h3 class="text-center">
					Nuestra metodolog&iacute;a
				</h3>
				<div class="underline"></div>
			</div>
			<div class="row">
				<p class="text-center text-lato">
					Esta es la manera como encaramos nuestros proyectos. Existen muchas metodolog&iacute;as, pero esta es la nuestra.
				</p>
			</div>
		</article>
		
		<div class="container">
				<div class="row margin-top-40">
					<div class="col-lg-12">
						<ul class="timeline">
							<li class="timeline-inverted">
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_escuchamos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											I. Escuchamos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											Sabemos que eres el que m&aacute;s conoce tu negocio, y creemos que un buen dise&ntilde;o depende de entender d&oacute;nde tu proyecto est&aacute; parado en este momento, hacia donde quieres llegar y c&oacute;mo podemos ayudarte a llegar ah&iacute;. Tu hablas, nosotros escuchamos y compartimos lo que sabemos. En esta etapa nos dedicamos a recopilar informaci&oacute;n sobre tu negocio, tus clientes y competidores.
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_planificamos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											II. Planificamos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											Aqu&iacute; comienzan a tomar forma las ideas. Lo que parten como dibujos en un cuaderno terminan siendo mapas y wireframes que detallan la estructura y contenidos de tu proyecto. Esto nos ayuda&aacute; a visualizar el alcance y servir&aacute;n como gu&iacute;a para el resto del proceso. Con esto claro planificamos los entregables y los tiempos de desarrollo.
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_disenamos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											III. Dise&ntilde;amos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											Donde la magia comienza. Dise&ntilde;amos con cari&ntilde;o y oficio las pantallas que forman parte del proyecto y creamos los mockups interactivos que nos servir&aacute;n para testear nuestra interfaz con tus usuarios y ver si cumplen con los objetivos que nos propusimos.
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_testeamos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											IV. Testeamos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											Parte fundamental de nuestro proceso de dise&ntilde;o. Aqu&iacute; le mostramos las pantallas a tus usuarios y les pedimos que hagan ciertas tareas dentro de la interfaz para probar si vamos por Buen Camino. Una vez que tenemos los resultados de los tests, corregimos lo que haya que corregir y seguimos adelante.
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_construimos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											V. Construimos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											HTML, CSS, JS... Nos especializamos en la parte front-end del desarrollo. Aqu&iacute; los dise&ntilde;os toman vida. Aparecen las vistas responsivas, las animaciones y todas las secciones se llenan del contenido que tendr&aacute; tu proyecto una vez que lo lancemos.
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_lanzamos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											VI. Lanzamos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											Antes que llegue el d&iacute;a de mostrar nuestra creaci&oacute;n al mundo, hay mucho trabajo que hacer para asegurarse de que todo ande tiquitaca. Desde la configuraci&oacute;n de Analytics hasta la capacitaci&oacute; de tu equipo para que puedan administrar el sitio de manera aut&oacute;noma.
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<!-- <img class="img-circle img-responsive icono_metodologia" src="includes/img/icono_medimos.png" alt="..." /> -->
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading text-mavenPro text-bold">
											VII. Medimos y refinamos
										</h4>
									</div>
									<div class="timeline-body">
										<p class="text-lato">
											El lanzamiento de un proyecto es solo el inicio de la aventura. Constantemente hay que ir monitoreando las estad&iacute;sticas de uso del sitio para detectar fugas de usuarios o posibilidades de mejora. Durante esta etapa estaremos a tu lado proponiendo mejoras y ayud&aacute;ndote con las dudas que tengas.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
	</section>