/* You can add global styles to this file, and also import other style files */

@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import 'styles/reset';
@import 'styles/variables';
@import 'styles/utilities';
@import 'styles/grid';
@import 'styles/fonts';
@import 'styles/header';
@import 'styles/footer';
@import 'styles/icons';



@import 'styles/components/buttons';
@import 'styles/components/carousel';
@import 'styles/components/do-box';