	
	<section id="hacemos">
		<div class="responsiveDiamondContainer visible-xs visible-sm">
			<p class="text-mavenPro">
				Hacemos hartas cosas, pero no de todo.<br/>Esto es lo que más nos piden:
			</p>
			<div class="container-fluid margin-top-30 text-center">
				<div class="row">
					<div class="col-xs-12">
						<div class="squareNavigation">
							<a href="servicios.html#consultoria" class="squareContent smooth" rel="nofollow">
								<span>
									<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/target.png" /> -->
								</span>
								<span class="text-mavenPro">
									Consultoría
								</span>
							</a>
							<a href="servicios.html#diseno" class="squareContent smooth" rel="nofollow">
								<span>
									<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/target.png" /> -->
								</span>
								<span class="text-mavenPro">
									Consultoría
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="squareNavigation">
							<a href="servicios.html#usabilidad" class="squareContent smooth" rel="nofollow">
								<span>
									<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/target.png" /> -->
								</span>
								<span class="text-mavenPro">
									Consultoría
								</span>
							</a>
							<a href="servicios.html#contenidosDigitales" class="squareContent smooth" rel="nofollow">
								<span>
									<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/target.png" /> -->
								</span>
								<span class="text-mavenPro">
									Consultoría
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="squareNavigation">
							<a href="servicios.html#metricas" class="squareContent smooth" rel="nofollow">
								<span>
									<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/target.png" /> -->
								</span>
								<span class="text-mavenPro">
									Consultoría
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="diamondContainer clear hidden-xs hidden-sm">
			<p class="text-mavenPro">
				Hacemos hartas cosas, pero no de todo.<br/>Esto es lo que más nos piden:
			</p>
			<div class="bar"></div>
			<div class="squareOne"></div>
			<div class="squareTwo"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box">
				<a href="servicios.html#consultoria" class="diamondContent smooth" rel="nofollow">
					<span>
						<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/target.png" /> -->
					</span>
					<span class="text-mavenPro">
						Consultoría
					</span>
				</a>
			</div>
			<div class="box">
				<a href="servicios.html#diseno" class="diamondContent smooth" rel="nofollow">
					<span>
						<!-- <img class="smooth" width="60" height="60" alt="..." src="includes/img/design.png" /> -->
					</span>
					<span class="text-mavenPro">
						Diseño
					</span>
				</a>
			</div>
			<div class="box">
				<a href="servicios.html#usabilidad" class="diamondContent smooth" rel="nofollow">
					<span>
						<!-- <img class="smooth" width="67" height="60" alt="..." src="includes/img/devices.png" /> -->
					</span>
					<span class="text-mavenPro">
						Usabilidad
					</span>
				</a>
			</div>
			<div class="box"></div>
			<div class="box">
				<a href="servicios.html#contenidosDigitales" class="diamondContent smooth" rel="nofollow">
					<span>
						<!-- <img class="smooth" width="41" height="60" alt="..." src="includes/img/microphone.png" /> -->
					</span>
					<span class="text-mavenPro">
						Contenidos
						<br/>
						Digitales
					</span>
				</a>
			</div>
			<div class="box">
				<a href="servicios.html#metricas" class="diamondContent smooth" rel="nofollow">
					<span>
						<!-- <img class="smooth" width="88" height="60" alt="..." src="includes/img/data-analysis-symbol.png" /> -->
					</span>
					<span class="text-mavenPro">
						Métricas
					</span>
				</a>
			</div>
			<div class="box"></div>
		</div>
		<article class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a class="btn smooth text-mavenPro text-uppercase" href="servicios.html" rel="nofollow">
						mira todo lo que hacemos
					</a>
				</div>
			</div>
		</article>
	</section>

	<section id="nuestroTrabajo">
		<article class="container">
			<h3 class="text-center text-pure text-capitalize text-mavenPro">
				nuestro trabajo
			</h3>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<p class="text-center text-pure text-lato">
						Trabajamos con clientes globales y locales a quienes les interesa saber lo que sus clientes piensan y de qué manera pueden mejorar sus experiencias, y transformárlas en momentos memorables.
					</p>
				</div>
			</div>
			<div class="row text-center">
				<a class="btn smooth text-mavenPro text-uppercase" href="casos.html" rel="nofollow">
					Conoce algunos casos
				</a>
			</div>
		</article>
	</section>

	<section id="homeSlider" class="hidden-xs hidden-sm">
		<div class="owl-carousel">
			<div id="caso-home1" class="item">
				<article class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<div class="projectLogo">
								<!-- <img alt="Logotipo MiEmbarazo" src="includes/img/casos/logo-caso-espera.png" /> -->
							</div>
							<div class="projectExplanation">
								<h4 class="text-pure text-mavenPro">
									App de seguimiento de embarazo
								</h4>
								<p class="text-pure text-lato">
									Diseñamos la interfaz de una aplicación móvil destinada a que las mujeres puedan hacer un seguimiento y consultar información sobre su embarazo.
								</p>
							</div>
							<div class="projectButton">
								<a class="btn smooth text-mavenPro text-capitalize" href="caso_espera.html" rel="nofollow">
									ver caso
								</a>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div id="caso-home2" class="item">
				<article class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<div class="projectLogo">
								<!-- <img alt="Logotipo El buen camino" src="includes/img/casos/logo-caso-metlife.png" /> -->
							</div>
							<div class="projectExplanation">
								<h4 class="text-left text-pure text-mavenPro">
									Diseño flujo de contratación online
								</h4>
								<p class="text-left text-pure text-lato">
									La Compañía aseguradora MetLife quería comenzar a vender seguros de salud en línea en conjunto con la red de salud UC. Para ello nos pidieron que “digitalizaramos” el proceso de venta que hasta ese momento se hacía offline.
								</p>
							</div>
							<div class="projectButton">
								<a class="btn smooth text-mavenPro text-capitalize" href="caso_metlife-uc.html" rel="nofollow">
									ver caso
								</a>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div id="caso-home3" class="item">
				<article class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<div class="projectLogo">
								<!-- <img alt="Logotipo Hoyts" src="includes/img/casos/logo-caso-hoyts.png" /> -->
							</div>
							<div class="projectExplanation">
								<h4 class="text-left text-pure text-mavenPro">
									Diseño flujo de compra online
								</h4>
								<p class="text-left text-pure text-lato">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus auctor interdum. Suspendisse massa arcu, finibus laoreet ligula ac, iaculis commodo lectus.
								</p>
							</div>
							<div class="projectButton">
								<a class="btn smooth text-mavenPro text-capitalize" href="caso_hoyts.html" rel="nofollow">
									ver caso
								</a>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div id="caso-home4" class="item">
				<article class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<div class="projectLogo">
								<!-- <img alt="Logotipo Terral Hotel" src="includes/img/casos/logo-caso-terral.png" /> -->
							</div>
							<div class="projectExplanation">
								<h4 class="text-left text-pure text-mavenPro">
									Rediseño de presencia online
								</h4>
								<p class="text-left text-pure text-lato">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus auctor interdum. Suspendisse massa arcu, finibus laoreet ligula ac, iaculis commodo lectus.
								</p>
							</div>
							<div class="projectButton">
								<a class="btn smooth text-mavenPro text-capitalize" href="caso_terral.html" rel="nofollow">
									ver caso
								</a>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div id="caso-home5" class="item">
				<article class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<div class="projectLogo">
								<!-- <img alt="Logotipo Colegios Domingo Santa Maria" src="includes/img/casos/logo-caso-colegios.png" /> -->
							</div>
							<div class="projectExplanation">
								<h4 class="text-left text-pure text-mavenPro">
									Rediseño de presencia online
								</h4>
								<p class="text-left text-pure text-lato">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus auctor interdum. Suspendisse massa arcu, finibus laoreet ligula ac, iaculis commodo lectus.
								</p>
							</div>
							<div class="projectButton">
								<a class="btn smooth text-mavenPro text-capitalize" href="caso_terral.html" rel="nofollow">
									ver caso
								</a>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>

	<section id="aroundTheWorld">
		<article class="container">
			<h3 class="text-center text-pure text-capitalize text-mavenPro">
				Around the world
			</h3>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<p class="text-center text-pure text-lato">
						Somos un grupo de profesionales repartidos por Chile y el mundo, con la fuerte convicci&oacute;n de ayudar a nuestros clientes a cumplir sus objetivos.
					</p>
				</div>
			</div>
			<div class="row text-center">
				<a class="btn smooth text-mavenPro text-uppercase" href="nosotros.html" rel="nofollow">
					Con&oacute;cenos
				</a>
			</div>
		</article>
	</section>