
	<div class="wrapper">
		<header class="header center-xs" style="background-image: url( './../../assets/images/home/home-cover.jpg' )">
			<div class="header__container">
				<div class="header__content u-container">
					<h2 class="header__title white text-mavenPro">Somos un estudio especializado en Ux</h2>
					<p class="header__description white">Eso significa que no sólo diseñamos sitios lindos, sino que además nos preocupamos de</p>
					<p class="header__description white">entender tu negocio y a tus clientes para crear experiencias simples de usar que te</p>
					<p class="header__description white">ayuden a cumplir tus objetivos.</p>
					<figure class="header__cropped">
						<img src="./../../assets/images/home/cropped.png" alt="Cropped home" />
					</figure>
				</div>
			</div>
		</header>

		<section class="do">
			<div class="do__container">
				<div class="do__heading u-row center-xs">
					<div class="do__heading__content">
						<p class="do__title">Hacemos hartas cosas, pero no de todo</p>
						<p class="do__title">Esto es lo que más nos piden:</p>
						<div class="do__box do__heading__box"></div>
						<div class="do__box do__heading__box"></div>
					</div>
				</div>
				<div class="do__boxes u-row center-sm">
					<div class="do__box do__box__menu center-xs">
						<a routerLink="/services">
							<div class="do__box__menu__content">
								<figure>
									<img src="./../../assets/images/home/target.png">
									<img src="./../../assets/images/home/target-white.png">
								</figure>
								<p>Consultoría</p>
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</div>
						</a>
					</div>
					<div class="do__box do__box__menu center-xs">
						<a routerLink="/services">
							<div class="do__box__menu__content">
								<figure>
									<img src="./../../assets/images/home/design.png">
									<img src="./../../assets/images/home/design-white.png">
								</figure>
								<p>Diseño</p>
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</div>
						</a>
					</div>
					<div class="do__box do__box__menu center-xs">
						<a routerLink="/services">
							<div class="do__box__menu__content">
								<figure>
									<img src="./../../assets/images/home/devices.png">
									<img src="./../../assets/images/home/devices-white.png">
								</figure>
								<p>Usabilidad</p>
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</div>
						</a>
					</div>
					<div class="do__box do__box__menu center-xs">
						<a routerLink="/services">
							<div class="do__box__menu__content">
								<figure>
									<img src="./../../assets/images/home/microphone.png">
									<img src="./../../assets/images/home/microphone-white.png">
								</figure>
								<p>Contenidos</p>
								<p>Digitales</p>
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</div>
						</a>
					</div>
					<div class="do__box do__box__menu center-xs">
						<a routerLink="/services">
							<div class="do__box__menu__content">
								<figure>
									<img src="./../../assets/images/home/data.png">
									<img src="./../../assets/images/home/data-white.png">
								</figure>
								<p>Métricas</p>
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="do__action center-xs">
				<a  class="btn btn-lg btn-red">Mira todo lo que hacemos</a>
			</div>
		</section>


		<section class="work">
			<div class="work__container u-container center-xs">
				<h3 class="work__title">Nuestro Trabajo</h3>
				<p class="work__description">Trabajamos con clientes globales y locales a quienes les interesa saber lo que sus clientes piensan y de qué manera pueden mejorar sus experiencias, y transformárlas en momentos memorables.</p>
				<a class="work__btn btn btn-lg btn-white" routerLink="/cases">Conoce algunos casos</a>
			</div>
		</section>

		<section class="slider">
			<div class="slider__container">
				<div id="carouselHome" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active" style="background-image: url( './../../assets/images/home/terral-bg.jpg' )">
							<div class="carousel-caption u-container u-row middle-xs">
								<div class="carousel__content col-sm-6 col-md-4">
									<figure class="carousel__logo center-xs">
										<img src="./../../assets/images/cases/logo-caso-terral.png" alt="Logotipo Terral">
									</figure>
									<div class="col-xs-6 col-sm-12">
										<h4 class="slider__title">Re diseño de presencia online</h4>
										<p class="slider__description">tinada a que las mujeres puedan hacer un seguimiento y consultar información sobre su embar...</p>
									</div>
									<div class="slider__btn col-xs-12 center-xs start-sm"><a routerLink="/cases/terral" class="slider__btn__link btn btn-lg btn-white">Ver caso</a></div>
								</div>
							</div>
						</div>
						<div class="item" style="background-image: url( './../../assets/images/cases/caso-app-embarazo-4.jpg' )">
							<div class="carousel-caption u-container u-row middle-xs">
								<div class="carousel__content col-sm-6 col-md-4">
									<figure class="carousel__logo center-xs">
										<img src="./../../assets/images/cases/logo-caso-espera.png" alt="Logotipo Espera">
									</figure>
									<div class="col-xs-6 col-sm-12">
										<h4 class="slider__title">App de seguimiento de embarazo</h4>
										<p class="slider__description">Diseñamos la interfaz de una aplicación móvil destinada a que las mujeres puedan hacer un seguimiento y consultar información sobre su embarazo</p>
									</div>
									<div class="slider__btn col-xs-12 center-xs start-sm"><a routerLink="/cases/mi-espera" class="slider__btn__link btn btn-lg btn-white">Ver caso</a></div>
								</div>
							</div>
						</div>
						<div class="item" style="background-image: url( './../../assets/images/home/terral-bg.jpg' )">
							<div class="carousel-caption u-container u-row middle-xs">
								<div class="carousel__content col-sm-6 col-md-4">
									<figure class="carousel__logo center-xs">
										<img src="./../../assets/images/cases/logo-caso-terral.png" alt="Logotipo Terral">
									</figure>
									<div class="col-xs-6 col-sm-12">
										<h4 class="slider__title">Re diseño de presencia online</h4>
										<p class="slider__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores nam quisquam expedita eos dolorem facilis perspiciatis, aperiam fugit repellat rerum error, enim ratione. Delectus maxime possimus, cumque quaerat rem!</p>
									</div>
									<div class="slider__btn col-xs-12 center-xs start-sm"><a routerLink="/cases/terral" class="slider__btn__link btn btn-lg btn-white">Ver caso</a></div>
								</div>
							</div>
						</div>

					</div>

					<div class="carousel__dots__row hide-xs show-md u-row end-xs middle-xs">
						<ol class="carousel-indicators">
							<li data-target="#carouselHome" data-slide-to="0" class="active"></li>
							<li data-target="#carouselHome" data-slide-to="1"></li>
							<li data-target="#carouselHome" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
			</div>
		</section>

		<section class="around">
			<div class="around__container u-container center-xs">
				<h3 class="around__title">Around the world</h3>
				<p class="around__description">Somos un grupo de profesionales repartidos por Chile y el mundo, con la fuerte convicción de ayudar a nuestros clientes a cumplir sus objetivos.</p>
				<a class="around__btn btn btn-lg btn-white" routerLink="/about">Conócenos</a>
			</div>
		</section>



		<footer class="footer">
			<section class="footer__container u-container center-xs">
				<figure class="footer__logo">
					<img width="174" height="143" alt="Logotipo El buen camino" src="./../../assets/images/global/logo2.png" />
				</figure>
				<h3 class="footer__title">Sabemos que cada proyecto es único</h3>
				<h4 class="footer__sub-title">(Y que conversando la gente se entiende)</h4>
				<p class="footer__description">Nos encantaría escuchar tu proyecto y que juntos veámos la mejor manera para colaborar</p>
				<p class="footer__description">Déjanos tus datos y nos contáctaremos contigo lo antes posible.</p>
				<a class="around__btn btn btn-lg btn-white" routerLink="/contact">Cuéntanos de tu proyecto</a>
			</section>
		</footer>
	</div>
