

	.header
		background-position center bottom
		background-repeat no-repeat
		background-size cover
		height 620px
		overflow hidden
		position relative
		&:before
			background-color rgba( 0, 0, 0, .35 )
			bottom 0
			content ""
			left 0
			position absolute
			right 0
			top 0
			
	.header__container
		height 100%
		width 100%

	.header__content
		height 100%
		left 0
		padding-top 22rem
		position absolute
		right 0
		

	.header__cropped
		bottom 0
		left 0
		position absolute
		right 0
		
	.header__title
		line-height 1
		margin 0 auto 6rem
		max-width 260px
		
	.wrapper
		overflow-x hidden
		
	@media screen and ( min-width 48em )
			
		.header__title
			margin 0
			max-width none