#hacemos {
	background-color: #FFFFFF;
    clear: both;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 0 0 60px;
    position: relative;
    width: 100%;
    z-index: 15;
}
#hacemos .btn,
#hacemos .btn:link,
#hacemos .btn:visited {
    background-color: transparent;
    border: 2px solid #C72527;
    border-radius: 0;
    color: #C72527;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    opacity: 1;
    padding: 20px 35px;
    white-space: unset;
    width: 35%;
    word-wrap: break-word;
    line-height: 1.2em;
}
#hacemos .btn:hover,
#hacemos .btn:focus,
#hacemos .btn:active {
    background-color: rgba(199, 37, 39, 0.3);
    border: 2px solid rgba(199, 37, 39, 0.0);
}
#nuestroTrabajo {
    background-color: #AE914B;
    clear: both;
    display: block;
    float: left;
    height: auto;
    padding: 60px 0;
    position: relative;
    width: 100%;
    z-index: 15;
}
#nuestroTrabajo h3 {
    margin-top: 0;
    padding: 0;
}
#nuestroTrabajo .btn,
#nuestroTrabajo .btn:link,
#nuestroTrabajo .btn:visited {
    border: 2px solid #FFFFFF;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    margin-top: 30px;
    opacity: 1;
    padding: 8px 55px;
    white-space: unset;
    width: 35%;
    word-wrap: break-word;
    line-height: 1.2em;
}
#nuestroTrabajo .btn:hover,
#nuestroTrabajo .btn:focus,
#nuestroTrabajo .btn:active {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.0);
}
#homeSlider {
    background-color: #FFFFFF;
    display: block;
    float: left;
    height: auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: 440px;
    z-index: 15;
}
#homeSlider .projectLogo,
#homeSlider .projectExplanation,
#homeSlider .projectButton {
    clear: both;
    display: block;
    float: left;
    height: auto;
    text-align: left;
    width: 100%;
}
#homeSlider .projectLogo {
    margin-bottom: 20px;
}

#homeSlider .projectExplanation h4 {
    margin-bottom: 20px;
}
#homeSlider .projectExplanation p {
    margin-bottom: 40px;
}
#homeSlider .btn,
#homeSlider .btn:link,
#homeSlider .btn:visited {
    border: 2px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    opacity: 1;
    padding: 8px 55px;
}
#homeSlider .btn:hover,
#homeSlider .btn:focus,
#homeSlider .btn:active {
    background-color: rgba(199, 37, 39, 1);
    border: 2px solid rgba(199, 37, 39, 1);
}


#casoSlider {
    background-color: #FFFFFF;
    display: block;
    float: left;
    height: auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: 800px;
    z-index: 15;
}
#casoSlider .projectLogo,
#casoSlider .projectExplanation,
#casoSlider .projectButton {
    clear: both;
    display: block;
    float: left;
    height: auto;
    text-align: left;
    width: 100%;
}


#aroundTheWorld {
    background-color: #2D4044;
    clear: both;
    display: block;
    float: left;
    height: auto;
    padding: 60px 0;
    position: relative;
    width: 100%;
    z-index: 15;
}
#aroundTheWorld h3 {
    margin-top: 0;
    padding: 0;
}
#aroundTheWorld .btn,
#aroundTheWorld .btn:link,
#aroundTheWorld .btn:visited {
    border: 2px solid #FFFFFF;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    margin-top: 30px;
    opacity: 1;
    padding: 8px 55px;
    white-space: unset;
    width: 35%;
    word-wrap: break-word;
    line-height: 1.2em;
}
#aroundTheWorld .btn:hover,
#aroundTheWorld .btn:focus,
#aroundTheWorld .btn:active {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.0);
}
#homeSlider::after{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ae914b;
    bottom: 100%;
    content: "";
    height: 0;
    left: 50%;
    margin-bottom: -15px;
    position: absolute;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    z-index: 50;
}
#cuentanos {
    background-color: #269999;
    // background-image: url("../img/Group-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    display: block;
    float: left;
    height: auto;
    padding: 80px 0;
    position: relative;
    width: 100%;
    z-index: 15;
}
#cuentanos .container .row:nth-child(2) p {
    font-size: 30px;
    margin-top: 30px;
}
#cuentanos .container .row:nth-child(3) p {
    font-size: 20px;
    margin-top: -10px;
}
#cuentanos .container .row:nth-child(4) p {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}
#cuentanos .container .row:nth-child(5) p {
    font-size: 15px;
}
#cuentanos .container .row:nth-child(6) a {
    margin-top: 30px;
}
#cuentanos .btn,
#cuentanos .btn:link,
#cuentanos .btn:visited {
    border: 2px solid #FFFFFF;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    opacity: 1;
    padding: 15px 35px;
    white-space: unset;
    width: 35%;
    word-wrap: break-word;
    line-height: 1.2em;
}
#cuentanos .btn:hover,
#cuentanos .btn:focus,
#cuentanos .btn:active {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.0);
}
.diamondContainer {
    margin: 36px auto 100px;
    width: 1000px;
}
.box {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 175px;
    margin-left: 35px;
    margin-right: 35px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 175px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.box:hover {
    background-color: rgba(199, 37, 39, 0.3);
	-webkit-transition: all 0.35s ease-in-out 0s !important;
	-moz-transition: all 0.35s ease-in-out 0s !important;
	-o-transition: all 0.35s ease-in-out 0s !important;
	-ms-transition: all 0.35s ease-in-out 0s !important;
	transition: all 0.35s ease-in-out 0s !important;
}
.diamondContent {
	width: 175px;
	height: 175px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.diamondContainer > div:nth-child(5) {
	background-color: #efbdc0;
}
.diamondContainer > div:nth-child(6),
.diamondContainer > div:nth-child(7),
.diamondContainer > div:nth-child(8) {
	background-color: #9F1D1F;
}
.diamondContainer > div:nth-child(9) {
	border-color: #C72527;
    border-style: dashed;
    border-width: 2px;
    height: 171px;
    margin-left: 159px;
    margin-top: -51px;
    width: 171px;
}
.diamondContainer > div:nth-child(10) {
	border-color: #C72527;
    border-style: dashed;
    border-width: 2px;
    height: 171px;
    margin-left: 39px;
    margin-top: -51px;
    width: 171px;
}
.diamondContainer > div:nth-child(11) {
	border-color: #C72527;
    border-style: dashed;
    border-width: 2px;
    height: 171px;
    margin-left: 39px;
    margin-top: -51px;
    width: 171px;
}
.diamondContainer > div:nth-child(12) {
	background-color: #C72527;
    margin-left: 36px;
    margin-top: -47px;
    opacity: 0;
}
.diamondContainer > div:nth-child(13) {
	border-bottom: 2px dashed #C72527;
    border-right: 2px dashed #C72527;
    height: 173px;
    margin-left: 34px;
    margin-top: -52px;
    width: 173px;
}
.diamondContainer > div:nth-child(14) {
	border-bottom: 2px dashed #C72527;
    border-right: 2px dashed #C72527;
    height: 173px;
    margin-left: 37px;
    margin-top: -52px;
    width: 173px;
}
.diamondContainer > div:nth-child(15) {
	background-color: #C72527;
    margin-left: 36px;
    margin-top: -47px;
    opacity: 0;
}
.clear::after {
	content: '';
	display: table;
	clear: both;
}
.bar {
	background-color: #9F1D1F;
    display: table;
    float: left;
    height: 123px;
    margin-left: 123px;
    margin-top: -36px;
    position: absolute;
    width: 734px;
}
.squareOne {
	background-color: #840204;
    display: none;
    height: 175px;
    margin-left: 893px;
    margin-top: -123px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
    width: 175px;
	visibility: hidden;
}
.squareTwo {
	background-color: #9F1D1F;
    display: none;
    height: 175px;
    margin-left: 998px;
    margin-top: -291px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
    width: 300px;
	visibility: hidden;
}
.diamondContainer p {
	color: #FFFFFF;
    display: block;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 1000px;
    z-index: 20;
}
.diamondContent span:nth-child(1) {
	clear: both;
    display: block;
    float: left;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.diamondContent span:nth-child(2) {
	clear: both;
    color: #000000;
    display: block;
    float: left;
    height: auto;
    text-align: center;
    width: 100%;
}
.responsiveDiamondContainer {
    clear: both;
    height: auto;
    margin: 0;
    padding: 40px 0;
    width: 100%;
}
.responsiveDiamondContainer p {
    color: #555555;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.responsiveDiamondContainer .row:nth-child(1) .squareContent:nth-child(1) {
	border-top: 2px dashed #C72527;
	border-right: 2px dashed #C72527;
	border-bottom: 2px dashed #C72527;
	border-left: 2px dashed #C72527;
}

.responsiveDiamondContainer .row:nth-child(1) .squareContent:nth-child(2) {
	border-top: 2px dashed #C72527;
	border-right: 2px dashed #C72527;
	border-bottom: 2px dashed #C72527;
}
.responsiveDiamondContainer .row:nth-child(2) .squareContent:nth-child(1) {
	border-right: 2px dashed #C72527;
	border-bottom: 2px dashed #C72527;
	border-left: 2px dashed #C72527;
}

.responsiveDiamondContainer .row:nth-child(2) .squareContent:nth-child(2) {
	border-right: 2px dashed #C72527;
	border-bottom: 2px dashed #C72527;
}
.responsiveDiamondContainer .row:nth-child(3) .squareContent:nth-child(1) {
	border-right: 2px dashed #C72527;
	border-bottom: 2px dashed #C72527;
	border-left: 2px dashed #C72527;
}
.squareNavigation {
    display: inline-block;
    float: none;
    height: auto;
    margin: auto;
    width: 260px;
}
.squareContent {
	background-color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 130px;
    padding: 12px;
    width: 130px;
}
.squareContent span:nth-child(1) {
	clear: both;
    display: block;
    height: auto;
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
}
.squareContent span:nth-child(2) {
	color: #555555;
    display: block;
    font-size: 17px;
    height: auto;
    text-align: center;
    width: 100%;
}




.header__content {
    left: 0;
    position: absolute;
    right: 0;
    top: 24rem;
}