
	<div class="wrapper">
		<header class="header center-xs" style="background-image: url( './../../assets/images/home/home-cover.jpg' )">
			<div class="header__container">
				<div class="header__content u-container">
					<h2 class="header__title white text-mavenPro">Somos un estudio especializado en Ux</h2>
					<p class="header__description white">Eso significa que no sólo diseñamos sitios lindos, sino que además nos preocupamos de</p> 
					<p class="header__description white">entender tu negocio y a tus clientes para crear experiencias simples de usar que te</p>
					<p class="header__description white">ayuden a cumplir tus objetivos.</p>
					<figure class="header__cropped">
						<img src="./../../assets/images/home/cropped.png" alt="Cropped home" />
					</figure>
				</div>
			</div>
		</header>

		<section class="do">
			<div class="do__container">
				<div class="do__heading u-row center-xs">
					<div class="do__heading__content">
						<p class="do__title">Hacemos hartas cosas, pero no de todo</p>
						<p class="do__title">Esto es lo que más nos piden:</p>
						<div class="do__box do__heading__box"></div>
						<div class="do__box do__heading__box"></div>
					</div>
				</div>
				<div class="do__boxes u-row center-sm">
					<div class="do__box do__box__menu center-xs">
						<div class="do__box__menu__content">
							<figure>
								<img src="./../../assets/images/home/target.png">
							</figure>
							<p>Consultoría</p>
						</div>
					</div>
					<div class="do__box do__box__menu center-xs">
						<div class="do__box__menu__content">
							<figure>
								<img src="./../../assets/images/home/design.png">
							</figure>
							<p>Diseño</p>
						</div>
					</div>
					<div class="do__box do__box__menu center-xs">
						<div class="do__box__menu__content">
							<figure>
								<img src="./../../assets/images/home/devices.png">
							</figure>
							<p>Usabilidad</p>
						</div>
					</div>
					<div class="do__box do__box__menu center-xs">
						<div class="do__box__menu__content">
							<figure>
								<img src="./../../assets/images/home/microphone.png">
							</figure>
							<p>Contenidos</p>
							<p>Digitales</p>
						</div>
					</div>
					<div class="do__box do__box__menu center-xs">
						<div class="do__box__menu__content">
							<figure>
								<img src="./../../assets/images/home/data.png">
							</figure>
							<p>Métricas</p>
						</div>
					</div>
				</div>
			</div>
			<div class="do__action center-xs">
				<a href="" class="btn btn-default">Mira todo lo que hacemos</a>
			</div>
		</section>


		<section id="nuestroTrabajo">
			<article class="container">
				<h3 class="text-center text-pure text-capitalize text-mavenPro">
					nuestro trabajo
				</h3>
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<p class="text-center text-pure text-lato">
							Trabajamos con clientes globales y locales a quienes les interesa saber lo que sus clientes piensan y de qué manera pueden mejorar sus experiencias, y transformárlas en momentos memorables.
						</p>
					</div>
				</div>
				<div class="row text-center">
					<a class="btn smooth text-mavenPro text-uppercase" href="casos.html" rel="nofollow">
						Conoce algunos casos
					</a>
				</div>
			</article>
		</section>

		<section id="homeSlider" class="hidden-xs hidden-sm">
			<div class="owl-carousel">
				<div id="caso-home1" class="item">
					<article class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="projectLogo">
									<!-- <img alt="Logotipo MiEmbarazo" src="includes/img/casos/logo-caso-espera.png" /> -->
								</div>
								<div class="projectExplanation">
									<h4 class="text-pure text-mavenPro">
										App de seguimiento de embarazo
									</h4>
									<p class="text-pure text-lato">
										Diseñamos la interfaz de una aplicación móvil destinada a que las mujeres puedan hacer un seguimiento y consultar información sobre su embarazo.
									</p>
								</div>
								<div class="projectButton">
									<a class="btn smooth text-mavenPro text-capitalize" href="caso_espera.html" rel="nofollow">
										ver caso
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div id="caso-home2" class="item">
					<article class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="projectLogo">
									<!-- <img alt="Logotipo El buen camino" src="includes/img/casos/logo-caso-metlife.png" /> -->
								</div>
								<div class="projectExplanation">
									<h4 class="text-left text-pure text-mavenPro">
										Diseño flujo de contratación online
									</h4>
									<p class="text-left text-pure text-lato">
										La Compañía aseguradora MetLife quería comenzar a vender seguros de salud en línea en conjunto con la red de salud UC. Para ello nos pidieron que “digitalizaramos” el proceso de venta que hasta ese momento se hacía offline.
									</p>
								</div>
								<div class="projectButton">
									<a class="btn smooth text-mavenPro text-capitalize" href="caso_metlife-uc.html" rel="nofollow">
										ver caso
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div id="caso-home3" class="item">
					<article class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="projectLogo">
									<!-- <img alt="Logotipo Hoyts" src="includes/img/casos/logo-caso-hoyts.png" /> -->
								</div>
								<div class="projectExplanation">
									<h4 class="text-left text-pure text-mavenPro">
										Diseño flujo de compra online
									</h4>
									<p class="text-left text-pure text-lato">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus auctor interdum. Suspendisse massa arcu, finibus laoreet ligula ac, iaculis commodo lectus.
									</p>
								</div>
								<div class="projectButton">
									<a class="btn smooth text-mavenPro text-capitalize" href="caso_hoyts.html" rel="nofollow">
										ver caso
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div id="caso-home4" class="item">
					<article class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="projectLogo">
									<!-- <img alt="Logotipo Terral Hotel" src="includes/img/casos/logo-caso-terral.png" /> -->
								</div>
								<div class="projectExplanation">
									<h4 class="text-left text-pure text-mavenPro">
										Rediseño de presencia online
									</h4>
									<p class="text-left text-pure text-lato">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus auctor interdum. Suspendisse massa arcu, finibus laoreet ligula ac, iaculis commodo lectus.
									</p>
								</div>
								<div class="projectButton">
									<a class="btn smooth text-mavenPro text-capitalize" href="caso_terral.html" rel="nofollow">
										ver caso
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div id="caso-home5" class="item">
					<article class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="projectLogo">
									<!-- <img alt="Logotipo Colegios Domingo Santa Maria" src="includes/img/casos/logo-caso-colegios.png" /> -->
								</div>
								<div class="projectExplanation">
									<h4 class="text-left text-pure text-mavenPro">
										Rediseño de presencia online
									</h4>
									<p class="text-left text-pure text-lato">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus auctor interdum. Suspendisse massa arcu, finibus laoreet ligula ac, iaculis commodo lectus.
									</p>
								</div>
								<div class="projectButton">
									<a class="btn smooth text-mavenPro text-capitalize" href="caso_terral.html" rel="nofollow">
										ver caso
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>

		<section id="aroundTheWorld">
			<article class="container">
				<h3 class="text-center text-pure text-capitalize text-mavenPro">
					Around the world
				</h3>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<p class="text-center text-pure text-lato">
							Somos un grupo de profesionales repartidos por Chile y el mundo, con la fuerte convicci&oacute;n de ayudar a nuestros clientes a cumplir sus objetivos.
						</p>
					</div>
				</div>
				<div class="row text-center">
					<a class="btn smooth text-mavenPro text-uppercase" href="nosotros.html" rel="nofollow">
						Con&oacute;cenos
					</a>
				</div>
			</article>
		</section>
	</div>